<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Colorado Open Election Funding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
  </head>
  <body>
    <div class="container">
        One limitation of the current dataset is we don't have exact years for campaigns. We are using the "declared date" as a rough proxy for the year of the election, even though most elections happen the year after most declarations.
        <ul>
            {% for race in races %}
            <li> <a href="/race/{{race.race_id}}">{{ race.office}} - {{race.jurisdiction}} {% if race.district is string %} ({{race.district}}) {% endif %} ({{"~%d" | format(race.declared_year)}})</a></li>
            {% endfor %}
        </ul>
    </div>
  </body>
</html>
